# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Environment variables
.env
*.env

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django stuff:
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
